<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mivisor-app">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
      .flag{
        width: 70px;
        height: 42px;
      }
    </style>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12 flag" src="https://image.flaticon.com/icons/svg/265/265725.svg" />

      </div>
      <div class="row">
        <button type="button" class="btn btn-success" on-click="incrementar" name="button">Cargar on-click</button>
        <br>
        BIDIRECCIONAL: <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        UNIDIRECCIONAL: <input type="text" value="[[prop1]]">

      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Alejandro</td>
              <td>Montes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MivisorApp extends Polymer.Element {
      static get is() { return 'mivisor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2:{
            type: Number,
            value: 999
          },
          prop3:{
            type: String,
            value:'Indique su usuario'
          }
        }
      }
      incrementar(){
//        this.prop2 = this.prop2  + 1 ;
        console.log("Propiedad 1: " + this.prop1 );
        console.log("Propiedad 2: " + this.prop2 );
        console.log("Propiedad 3: " + this.prop3 );
      }
    }

    window.customElements.define(MivisorApp.is, MivisorApp);
  </script>
</dom-module>
