<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestorcliente-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .flag{
        width: 70px;
        height: 42px;
      }
    </style>
    <div class="container">
      <h1>Gestor de clientes</h1>
      <br>
      <button type="button" class="btn btn-success" on-click="obtenerClientes" name="button">Obtener clientes</button>
      <button type="button" class="btn btn-info" on-click="agregarClientes" name="button">Guardar cliente</button>

      <div class="row">
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    class GestorClienteApp extends Polymer.Element {
      static get is() { return 'gestorcliente-app'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        }
      }
      obtenerClientes(){
        console.log("PROBANDO LOG");
        var request = new XMLHttpRequest();
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
      }

      agregarClientes(){
        console.log("PROBANDO LOG - AGREGAR CLIENTES");
        var request = new XMLHttpRequest();
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("POST",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        var nuevoCliente = {
          "CustomerID":1234,
          "ContactName":"pepe",
          "CompanyName":"COCA"
        }

        var body = JSON.stringify(nuevoCliente);
        console.log(body);
        request.send(body);
        var respuesta = request.responseText;
        console.log("RES: "+respuesta);
      }
    }

    window.customElements.define(GestorClienteApp.is, GestorClienteApp);
  </script>
</dom-module>
